<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de habitaciones</title>
</head>
<body>
    <h1>
        Nuestras Habitaciones
    </h1>

    <ul>
        <li>
            <a href="../index.html">Inicio</a>
        </li>
        <li>
            <a href="rooms.html">Habitaciones</a>
        </li>
        <li>
            <a href="about.html">Sobre Nosotros</a>
        </li>
        <li>
            <a href="../contact.html">Contacto</a>
        </li>
    </ul>

    <br>

    <p>
        Nuestro renovado resort ofrece suites de lujo con vistas que inspiran. 
        Disfrutarás uno de los mejores hoteles de La Paz, con campo de golf, piscinas, 
        la Bahía de La Paz y el Mar de Cortés en tu puerta. Las suites también cuentan con HDTV, 
        baños estilo spa, espacios de trabajo y áreas de bebidas.
    </p>

    <h2>
        Incluido con cada estadia
    </h2>
    <b>
        <ul>
            <li>
                🍵 Cafetera
            </li>
            <li>
                💨 Secadora de cabello
            </li>
            <li>
                🕿 Servicio de habitaciones disponible
            </li>
            <li>
                📺 Televisión
            </li>
            <li>
                🧹 Servicio de limpieza de habitaciones
            </li>
            <li>
                ❄️ Aire acondicionado
            </li>
            <li>
                💻 Espacio de trabajo
            </li>
        </ul>
    </b>

    <h2>
        Habitacion Estandar
    </h2>    
    
    <img width="350" src="../assets/Img/Habitacion_Estandar.png" alt="Imagen_Abitacion_Estandar" title="Imagen_Abitacion_Estandar">

    <p>
        <b>Tamaño de la habitación:</b>20 sq. m. – 25 sq. m.

        <br>

        <b>Camas:</b> 1 Cama King
        
        <br>
        
        <ul>
            <b>Standard Habitaciones puede incluir:</b>
            <li>
                Balcón
            </li>
            <li>
                Vista al mar, Vista al jardín
            </li>
        </ul>
        <b>Precio:</b> $6,217 MXN
    </p>

    <a href="room-detail.html">Detalles de la habitacion</a>

    <br>

    <H2>
        Habitacion suite
    </H2>

    <img width="350" src="../assets/Img/Habitacion_Suite.png" alt="Imagen_Abitacion_Suite" title="Imagen_Abitacion_Suite">

    <p>
        <b>Tamaño de la habitación:</b>64 sq. m. – 77 sq. m.

        <br>

        <b>Camas:</b> 1 Cama King, o 2 camas Queen
        
        <br>
        
        <ul>
            <b>Junior Suite puede incluir:</b>
            <li>
                Terrace
            </li>
            <li>
                Vista del puerto, Vista al mar
            </li>
            <li>
                Sofá cama
            </li>
        </ul>
        <b>Precio:</b> $10,378 MXN
    </p>

    <a href="room-detail-Suite.html">Detalles de la habitacion</a>

    <br>

    <p>&#169 2025 Hotel Indigo</p>

</body>
</html>